* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem
}

.btn-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.btn-section button {
    padding: 10px 20px;
    border-radius: 20px;
    border: black solid 2px;
    font-size: larger;
    font-weight: bold;
}

.contrast-color {
    mix-blend-mode: difference;
    color: white;
}

#opret-hilsen {
    border: solid black 2px;
    background-color: #A1a1a1;
    border-radius: 10px;
    margin: auto;
    min-width: 50vw;
    min-height: 40vh;
    padding: 20px;
}

#opret-hilsen h2 {
    margin-left: 4.8vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    font-size: larger;
    padding-inline: 4px;
}

.form-group input,
.form-group textarea {
    border: none;
    outline: none;
    border-radius: 2px;
    height: 2rem;
    resize: none;
    padding: 4px;
}

.form-group textarea {
    height: 7.5rem;
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-control button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;

    &:last-child {
        background-color: lightgreen;
    }
}

#open-popup {
    font-size: larger;
    background-color: lightgray;
    border: solid black 2px;
    border-radius: 5px;
    padding: 4px 9px;
}

#hilsner-list {
    list-style: none;
    margin: 20px auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(-20vh);
    border: solid black 2px;
    border-radius: 5px;
    & li {
        display: flex;
        flex-direction: column;
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        & p {
            font-size: 1.2rem;
        }
    }
}